@page
@model BookProgram.Pages.Underviser.BookUnderviser.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "_ULayout";
}

<h1>Edit</h1>

<h4>BookList</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="BookList.ID" />
            <div class="form-group">
                <label asp-for="BookList.Title" class="control-label"></label>
                <input asp-for="BookList.Title" class="form-control" />
                <span asp-validation-for="BookList.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BookList.Author" class="control-label"></label>
                <input asp-for="BookList.Author" class="form-control" />
                <span asp-validation-for="BookList.Author" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BookList.ReleaseDate" class="control-label"></label>
                <input asp-for="BookList.ReleaseDate" class="form-control" />
                <span asp-validation-for="BookList.ReleaseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
