@page
@model BookProgram.Pages.Koordinator.Teachers.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>All The Teachers In The System</h1>

<p>
    <a asp-page="Create" class="btn btn-outline-success">Create New</a>
</p>
<hr style="width: auto" , size="10" , color=black>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Teacher[0].TeacherName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Teacher) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TeacherName)
            </td>
            <td>
                    <a asp-page="./Edit" asp-route-id="@item.ID" class="btn btn-outline-primary">Edit</a> |

                    <a asp-page="./Delete" asp-route-id="@item.ID" class="btn btn-outline-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
