@page
@model BookProgram.Pages.Underviser.Educations.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "_ULayout";
}

<h1>List Of All Educations</h1>


<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Education[0].EducationName)
            </th>
           
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Education) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EducationName)
            </td>
           
        </tr>
}
    </tbody>
</table>
